<html>
<head>
    <title>Database</title>
</head>

<body>
    <div style="background-color: green">
        <h2 style="color: gold; text-align: center; padding: 50px">Bash Command Processing Server</h2>
    </div>

    <form method="post" enctype="multipart/form-data">
        <div style="background-color: gold; padding: 10%">
            <h2>Choose an Option for Database</h2>
            <input type="checkbox" name="check" value="yes">Create Database<br>
            <input type="checkbox" name="check" value="no">Drop Database<br>
        </div>
        <br>
        <br>
        <br>
        <input type="submit" style="background-color: green">
    </form>
</body>
</html>