<html>
<head>
    <title>Success</title>
</head>

<body>
    <div style="background-color: green">
        <h2 style="color: gold; text-align: center; padding: 50px">Bash Command Processing Server</h2>
    </div>

    <form method="post" enctype="multipart/form-data">
        <div style="background-color: gold; padding: 10%">
            <h2>File successfully uploaded to server!</h2>
            <p>Please create a Database before proceeding further</p>
            <h3>Click on Submit button to continue parsing the file</h3>
        </div>
        <br>
        <br>
        <br>
        <input type="submit" style="background-color: green">
    </form>
</body>
</html>